Repository Marsonge/preuve-covoiturage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonathanfallon, @nmrgt, @samueleyre, @gillesboisson

.github/CODEOWNERS:

################################################################################
#							    Backend services
################################################################################

# Resources
/api/db								@jonathanfallon @nmrgt

# Reverse Proxy
/api/proxy							@jonathanfallon @nmrgt

# API services
/api/services/acquisition			@jonathanfallon
/api/services/application			@jonathanfallon
/api/services/certificate			@jonathanfallon
/api/services/company				@nmrgt
/api/services/fraud					@nmrgt
/api/services/normalization			@jonathanfallon
/api/services/operator				@jonathanfallon
/api/services/policy				@nmrgt
/api/services/territory				@jonathanfallon
/api/services/trip					@nmrgt
/api/services/user					@jonathanfallon

/api/providers/crypto				@nmrgt
/api/providers/geo					@jonathanfallon
/api/providers/middleware			@nmrgt
/api/providers/notification			@nmrgt
/api/providers/sentry				@jonathanfallon
/api/providers/token				@jonathanfallon
/api/providers/validator			@jonathanfallon

################################################################################
#							       Frontend
################################################################################

/dashboard/cypress					@samueleyre
/dashboard/src/app/modules/administration   @gillesboisson
/dashboard/src/app/modules/authentication   @gillesboisson
/dashboard/src/app/modules/campaign @samueleyre
/dashboard/src/app/modules/company  @gillesboisson
/dashboard/src/app/modules/filter   @samueleyre
/dashboard/src/app/modules/operator @gillesboisson
/dashboard/src/app/modules/stat @samueleyre
/dashboard/src/app/modules/territory @gillesboisson
/dashboard/src/app/modules/trip @samueleyre @gillesboisson
/dashboard/src/app/modules/ui-guide @samueleyre @gillesboisson
/dashboard/src/app/modules/user @gillesboisson
/dashboard/src/app/shared   @samueleyre @gillesboisson
/dashboard/src/app/core @samueleyre @gillesboisson

################################################################################
#						         Shared Resources
################################################################################
/api/shared							@jonathanfallon @gillesboisson
/docker-compose*					@jonathanfallon
/docker								@jonathanfallon
/api/scalingo						@jonathanfallon
/scalingo.json						@jonathanfallon

/.circleci							@jonathanfallon

/CHANGELOG.md						@jonathanfallon
/LICENSE							@jonathanfallon
/README.md							@jonathanfallon

fallback millesime for procedure
  api/db/migrations/observatory/003_insert_monthly_flux_procedure.up.sql
  api/db/migrations/observatory/004_insert_monthly_occupation_procedure.up.sql
  api/db/migrations/observatory/006_insert_monthly_distribution_procedure.up.sql
  shared/observatory/flux/monthlyFlux.schema.ts
Owners: @jonathanfallon, @nmrgt

filtre les flux <= 80 km
  api/services/observatory/src/providers/FluxRepositoryProvider.ts
Owners: none

fix lat lon inversion in location query
  api/services/observatory/src/providers/LocationRepositoryProvider.ts
Owners: none

wip keyfigures endpoint
  api/proxy/src/HttpTransport.ts
  api/services/observatory/src/ServiceProvider.ts
  api/services/observatory/src/actions/keyfigures/MonthlyKeyfiguresAction.ts
  api/services/observatory/src/interfaces/KeyfiguresRepositoryProviderInterface.ts
  api/services/observatory/src/providers/KeyfiguresRepositoryProvider.ts
  shared/observatory/keyfigures/monthlyKeyfigures.contract.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
Owners: @jonathanfallon, @nmrgt

add query for keyfigures and fix params incoherence for flux and occupation
  api/services/observatory/src/providers/FluxRepositoryProvider.ts
  api/services/observatory/src/providers/KeyfiguresRepositoryProvider.ts
  api/services/observatory/src/providers/OccupationRepositoryProvider.ts
  shared/observatory/flux/monthlyFlux.contract.ts
  shared/observatory/keyfigures/monthlyKeyfigures.contract.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/occupation/monthlyOccupation.contract.ts
Owners: none

add TS definition for geo types
  api/services/observatory/src/helpers/checkParams.ts
  shared/geo/shared/Perimeter.ts
  shared/observatory/distribution/journeysByDistances.contract.ts
  shared/observatory/distribution/journeysByDistances.schema.ts
  shared/observatory/distribution/journeysByHours.contract.ts
  shared/observatory/distribution/journeysByHours.schema.ts
  shared/observatory/flux/bestMonthlyFlux.contract.ts
  shared/observatory/flux/bestMonthlyFlux.schema.ts
  shared/observatory/flux/evolMonthlyFlux.contract.ts
  shared/observatory/flux/evolMonthlyFlux.schema.ts
  shared/observatory/flux/monthlyFlux.contract.ts
  shared/observatory/flux/monthlyFlux.schema.ts
  shared/observatory/keyfigures/monthlyKeyfigures.contract.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/location/location.contract.ts
  shared/observatory/location/location.schema.ts
  shared/observatory/occupation/bestMonthlyTerritories.contract.ts
  shared/observatory/occupation/bestMonthlyTerritories.schema.ts
  shared/observatory/occupation/evolMonthlyOccupation.contract.ts
  shared/observatory/occupation/evolMonthlyOccupation.schema.ts
  shared/observatory/occupation/monthlyOccupation.contract.ts
  shared/observatory/occupation/monthlyOccupation.schema.ts
  shared/observatory/territories/list.contract.ts
  shared/observatory/territories/name.contract.ts
  shared/observatory/territories/name.schema.ts
Owners: none

bump linter
  docker/lint/package-lock.json
  docker/lint/package.json
Owners: @jonathanfallon

migrate CEE service to new error handling with WARN level
  api/ilos/common/src/exceptions/ServiceDisabledException.ts
  api/ilos/common/src/exceptions/index.ts
  api/services/cee/src/actions/ImportCeeAction.ts
  api/services/cee/src/actions/RegisterCeeAction.ts
  api/services/cee/src/actions/SimulateCeeAction.ts
  api/services/cee/src/errors/ServiceDisabledError.ts
Owners: none

refactor RPCExceptions to add support for reporting level
  api/ilos/common/src/exceptions/ConflictException.ts
  api/ilos/common/src/exceptions/ForbiddenException.ts
  api/ilos/common/src/exceptions/InvalidParamsException.ts
  api/ilos/common/src/exceptions/InvalidRequestException.ts
  api/ilos/common/src/exceptions/MethodNotFoundException.ts
  api/ilos/common/src/exceptions/NotFoundException.ts
  api/ilos/common/src/exceptions/ParseErrorException.ts
  api/ilos/common/src/exceptions/RPCException.ts
  api/ilos/common/src/exceptions/ServiceException.ts
  api/ilos/common/src/exceptions/TimeoutException.ts
  api/ilos/common/src/exceptions/TooManyRequestsException.ts
  api/ilos/common/src/exceptions/UnauthorizedException.ts
  api/ilos/common/src/types/call/RPCErrorType.ts
  api/ilos/common/src/types/call/index.ts
  api/ilos/core/src/foundation/Kernel.spec.ts
  api/ilos/core/src/foundation/Kernel.ts
  api/ilos/core/src/helpers/promiseTimeout.ts
  api/providers/test/src/handlerMacro.ts
  api/providers/test/src/serviceProviderPermissionsMacro.spec.ts
Owners: none

fix import
  api/ilos/common/src/exceptions/ServiceDisabledException.ts
Owners: none

add tests to @ilos/common RPCException
  api/ilos/common/ava.coverage.cjs
  api/ilos/common/ava.integration.cjs
  api/ilos/common/ava.unit.cjs
  api/ilos/common/package.json
  api/ilos/common/src/exceptions/RPCException.spec.ts
  api/ilos/common/src/exceptions/RPCException.ts
  api/ilos/core/src/foundation/Kernel.spec.ts
Owners: none

fix CEE integration tests
  api/services/cee/src/actions/ImportCeeAction.integration.spec.ts
  api/services/cee/src/actions/RegisterCeeAction.integration.spec.ts
  api/services/cee/src/actions/SimulateCeeAction.integration.spec.ts
  docker-compose.yml
Owners: @jonathanfallon

fix typos
  shared/cee/common/ceeSchema.ts
Owners: none

fix CodeQL comments
  api/ilos/core/src/helpers/promiseTimeout.ts
Owners: none

update .env.example
  api/.env.example
Owners: none

make cee endpoint responses coherent with API response style
  api/proxy/src/HttpTransport.ts
Owners: @jonathanfallon, @nmrgt

fix application service integration test
  api/services/application/src/ApplicationService.integration.spec.ts
Owners: @jonathanfallon

handle string type in RPCErrorData
  api/ilos/common/src/types/call/RPCErrorType.ts
  api/services/cee/src/actions/RegisterCeeAction.ts
Owners: none

clean up and fix tests
  api/ilos/validator/src/AjvValidator.ts
  api/proxy/src/middlewares/errorHandlerMiddleware.ts
  api/services/cee/src/actions/RegisterCeeAction.integration.spec.ts
  api/services/cee/src/actions/SimulateCeeAction.integration.spec.ts
  api/services/fraud/src/engine/checks/datetimeIdentity/datetimeIdentityCheckMacro.ts
  api/services/fraud/src/engine/checks/self/selfCheckMacro.ts
  api/services/fraud/src/engine/checks/tripIdentity/tripIdentityCheckMacro.ts
  api/services/operator/src/OperatorService.integration.spec.ts
Owners: @jonathanfallon, @nmrgt

fix schema validator for code and replace _ by - in url
  api/providers/validator/src/formats/countryCustomFormat.ts
  api/providers/validator/src/formats/depCustomFormat.ts
  api/providers/validator/src/keywords/macroKeyword.ts
  api/providers/validator/src/keywords/macros/countryMacro.ts
  api/providers/validator/src/keywords/macros/depMacro.ts
  api/proxy/src/HttpTransport.ts
  shared/observatory/distribution/journeysByDistances.schema.ts
  shared/observatory/distribution/journeysByHours.schema.ts
  shared/observatory/flux/bestMonthlyFlux.schema.ts
  shared/observatory/flux/evolMonthlyFlux.schema.ts
  shared/observatory/flux/monthlyFlux.schema.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/location/location.schema.ts
  shared/observatory/occupation/bestMonthlyTerritories.schema.ts
  shared/observatory/occupation/evolMonthlyOccupation.schema.ts
  shared/observatory/occupation/monthlyOccupation.schema.ts
  shared/observatory/territories/name.schema.ts
Owners: @jonathanfallon, @nmrgt

add update migrations for procedures
  api/db/migrations/observatory/007_update_insert_monthly_flux_procedure.down.sql
  api/db/migrations/observatory/007_update_insert_monthly_flux_procedure.up.sql
  api/db/migrations/observatory/008_update_insert_monthly_occupation_procedure.down.sql
  api/db/migrations/observatory/008_update_insert_monthly_occupation_procedure.up.sql
  api/db/migrations/observatory/009_update_insert_monthly_distribution_procedure.down.sql
  api/db/migrations/observatory/009_update_insert_monthly_distribution_procedure.up.sql
Owners: @jonathanfallon, @nmrgt

wip add bnlc table
  api/db/cli.js
  api/db/datastructures/001_CreateAiresCovoiturageTable.ts
  api/db/index.js
Owners: @jonathanfallon, @nmrgt

fix linter
  shared/observatory/distribution/journeysByDistances.schema.ts
  shared/observatory/distribution/journeysByHours.schema.ts
  shared/observatory/flux/bestMonthlyFlux.schema.ts
  shared/observatory/flux/evolMonthlyFlux.schema.ts
  shared/observatory/flux/monthlyFlux.schema.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/location/location.schema.ts
  shared/observatory/occupation/bestMonthlyTerritories.schema.ts
  shared/observatory/occupation/evolMonthlyOccupation.schema.ts
  shared/observatory/occupation/monthlyOccupation.schema.ts
  shared/observatory/territories/name.schema.ts
Owners: none

fix lint
  shared/observatory/distribution/journeysByDistances.schema.ts
  shared/observatory/distribution/journeysByHours.schema.ts
  shared/observatory/flux/bestMonthlyFlux.schema.ts
  shared/observatory/flux/evolMonthlyFlux.schema.ts
  shared/observatory/flux/monthlyFlux.schema.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/location/location.schema.ts
  shared/observatory/occupation/bestMonthlyTerritories.schema.ts
  shared/observatory/occupation/evolMonthlyOccupation.schema.ts
  shared/observatory/occupation/monthlyOccupation.schema.ts
  shared/observatory/territories/name.schema.ts
Owners: none

fix lint
  shared/observatory/distribution/journeysByDistances.schema.ts
  shared/observatory/distribution/journeysByHours.schema.ts
  shared/observatory/flux/bestMonthlyFlux.schema.ts
  shared/observatory/flux/evolMonthlyFlux.schema.ts
  shared/observatory/flux/monthlyFlux.schema.ts
  shared/observatory/keyfigures/monthlyKeyfigures.schema.ts
  shared/observatory/location/location.schema.ts
  shared/observatory/occupation/bestMonthlyTerritories.schema.ts
  shared/observatory/occupation/evolMonthlyOccupation.schema.ts
  shared/observatory/occupation/monthlyOccupation.schema.ts
  shared/observatory/territories/name.schema.ts
Owners: none

add etl folder and reformat service
  api/etl/src/index.ts
Owners: none

add etl folder and reformat service
  api/db/index.js
  api/etl/package.json
  api/etl/src/cli.ts
  api/etl/src/datasets/bnlc.ts
  api/etl/src/datastructures/001_CreateBnlcTable.ts
  api/etl/tsconfig.json
  api/package-lock.json
  api/package.json
Owners: @jonathanfallon, @nmrgt

add closest com fallback in LocalGeoProvider
  api/providers/geo/src/providers/LocalGeoProvider.ts
Owners: @jonathanfallon

fix(infra): Deploy docker on release and notify infra job
  .github/workflows/deploy-notebook-production.yml
Owners: none

fix(infra) typo
  .github/workflows/deploy-notebook-production.yml
Owners: none

update dependencies
  doc/package-lock.json
  doc/package.json
Owners: none

refresh documentation
  doc/docs/contribuer/api/providers/storage/index.md
Owners: none

add NODE_OPTIONS to fix Webpack
  doc/package.json
Owners: none
